/**
 * Custom UserImport CMP styles for Revo 2.3+
 */

/* About tab */
.ui-about-box {
    color: #777;
}
    .ui-about-box p {
        margin-bottom: 20px;
    }
.ui-about-box a {
    text-decoration: none;
    color: #777;
    border-bottom: 1px dotted;
}
.ui-about-box ul li {
    list-style-type: disc;
    margin-left: 20px;
}
